<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .loginRegister{
           padding: 5px; 
           display: flex;
        }
        .rectangle{
            height: 50px;
            width: 180px;
            background-color: orange;
        }
        .login{
            
        }
        .register{
            margin-left: 10px;
        }
       a {
        color: #000;
        margin-left: 35px;
        text-decoration: none;
        font-size: 30px;
      }
    </style>
    <title>Document</title>
</head>
<body>
    <h1>Welcome to page!!!</h1>
    <div class="loginRegister">
        <div class="login rectangle">
            <a type="button" href="/login">Login</a>
        </div>
        <div class="register rectangle">
            <a type="button" href="/register">Register</a>
        </div>
    </div>
</body>
</html>