<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      .login-form {
        width: 400px;
        height: 400px;
        margin: 1rem auto;
      }
      .input-group {
        width: 100%;
      }
      .input-group label {
        display: block;
      }
      .input-group input {
        width: 100%;
      }
      button {
        padding: 10px 17px;
        margin-top: 1rem;
        font-size: 1rem;
        background: #eee;
        border: 1px solid #333;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="login-form">
      <h3>Login Page</h3>
        <div class="input-group">
          <label for="email">Email:</label>
          <input type="email" name="email" />
        </div>
        <div class="input-group">
          <label for="password">Password:</label>
          <input type="password" name="password" />
        </div>
        <button id="submit">Login</button>
      <br><br>
      <a href="/register">Register</a>
    </div>

    <script type="text/javascript">
      function ApiFetch(Email,Password){
        var apiUrl = "http://localhost:3000/api/v1/auth/login";
      fetch(
        apiUrl,{
          method:"POST",
            headers: {'Content-Type': 'application/json'},
            body:JSON.stringify({
              email:Email,
              password:Password
             })
        }
      )
      .then(response=>response.json())
      .then((response) => {
        console.log(response)
          if(response.content.success){
            window.location.replace("http://localhost:3000/dashboard");
          }else{
            return "<h1>Wrong Credential</h1>"
            console.log(response.message)
          }
        })
        .catch((err) => {
            console.log(err);
        });
      }
      document.getElementById("submit").addEventListener("click", (e) => {
            const email = document.getElementsByName("email")[0].value;
            const password = document.getElementsByName("password")[0].value;
            ApiFetch(email,password);
        });
    </script>
  </body>
</html>
